*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
 justify-content: center;    
 align-items: center;
 text-align: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
 Geneva, Verdana, sans-serif;
 transition:ease-out 0.4s;
 background-color: black;
 color: white;
 font-weight: bold;
 font-size: 60px;
}
